<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
           integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

    <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to AI Studios</h1>
    <p class="lead">Explore the pages below</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6" style="margin-bottom: 30px;">
          <div class="card">
<!--            <img src="image1.jpg" class="card-img-top" alt="Page 1">-->
            <div class="card-body">
             <h5 class="card-title">Story Generation ✍🏻</h5>
              <p class="card-text">Start writing a Story and our AI will complete it!</p>
              <a href="story_predict/" class="btn btn-primary">Go to Story Generation</a>
            </div>
          </div>
        </div>
          <br>


        <div class="col-md-6" style="margin-bottom: 30px;">
          <div class="card">
<!--            <img src="image2.jpg" class="card-img-top" alt="Page 2">-->
            <div class="card-body">
               <h5 class="card-title">Poem Generation 📝</h5>
              <p class="card-text">Start writing a Poem and our AI will complete it!</p>
              <a href="poem_predict/" class="btn btn-primary">Go to Poem Generation</a>
            </div>
          </div>
        </div>
          <br>


        <div class="col-md-6" style="margin-bottom: 20px;">
          <div class="card">
<!--            <img src="image1.jpg" class="card-img-top" alt="Page 1">-->
            <div class="card-body">
             <h5 class="card-title">Image Generation 📸</h5>
              <p class="card-text">To generate a personalized image based on your specifications, just tell what you want and our AI create it!</p>
              <a href="image_generate/" class="btn btn-primary">Go to Image Generation</a>
            </div>
          </div>
        </div>


        <div class="col-md-6" style="margin-bottom: 20px;">
          <div class="card">
<!--            <img src="image1.jpg" class="card-img-top" alt="Page 1">-->
            <div class="card-body">
             <h5 class="card-title">Movie Generation 📽️</h5>
              <p class="card-text">Generate a short movie using AI!</p>
              <a href="story_predict/" class="btn btn-primary">Go to Movie Generation</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>